##Problem 1

In [1]:
#middle value finder function

In [2]:
def middle_value(a,b,c):
  lst = [a,b,c]
  lst.sort()
  return lst[1]

In [3]:
middle_value(23,12,35)

23

In [4]:
middle_value(23,-34,-13)

-13

##Problem 2

In [5]:
#calculator using functions

In [25]:
#functions for operations
def add(a,b):
  return f"Sum result: {a + b}"
def subtract(a,b):
  return f"Difference result: {a - b}"
def product(a,b):
  return f"Product result: {a * b}"
def division(a,b):
  return f"Division result: {a / b}"
def modulus(a,b):
  return f"Modulus result: {a % b}"
def floor(a,b):
  return f"floor division result: {a // b}"
def factorial(a):
  if a == 1 or a == 0: #factorial of 1 and 0 are both 1
    return 1
  else:
    return a* factorial(a-1)
def exponent(a,b):
  return f"result of {a} to the power of {b}: {a**b}"

In [26]:
print("\t\t\t--------------------------------------------------Welcome to calculator app--------------------------------------------------")
num1 = int(input("enter a number: "))
num2 = int(input("enter another number: "))
choice = 0 #to prevent name error, assigning value to choice variable

while choice!= 9:

  print("enter your operation: ")
  print("\t1. Addition") #adding \t for aesthetics
  print("\t2. Subtraction")
  print("\t3. Multiplication")
  print("\t4. Division")
  print("\t5. Modulus")
  print("\t6. Floor division")
  print("\t7. Exponent")
  print("\t8. Factorial")
  print("\t9. Exit")
  print("\t0. Change numbers")

  choice = int(input("operation: "))

  if choice == 1:
    print(add(num1,num2))
  elif choice == 2:
    print(subtract(num1,num2))
  elif choice == 3:
    print(product(num1,num2))
  elif choice == 4:
    print(division(num1,num2))
  elif choice == 5:
    print(modulus(num1,num2))
  elif choice == 6:
    print(floor(num1,num2))
  elif choice == 7:
    print(exponent(num1,num2))
  elif choice == 8:
    num1 = int(input("enter a number to find factorial: "))
    print(f"factorial of {num1}: {factorial(num1)}")
  elif choice == 9:
    print(f"exiting...")
  elif choice == 0:
    print(f"changing...")
    num1 = int(input("enter a number: "))
    num2 = int(input("enter another number: "))
  else:
    print("operation not recognized. please enter from the options above")

			--------------------------------------------------Welcome to calculator app--------------------------------------------------
enter a number: 5
enter another number: 3
enter your operation:
	1. Addition
	2. Subtraction
	3. Multiplication
	4. Division
	5. Modulus
	6. Floor division
	7. Exponent
	8. Factorial
	9. Exit
	0. Change numbers
operation: 1
Sum result: 8
enter your operation:
	1. Addition
	2. Subtraction
	3. Multiplication
	4. Division
	5. Modulus
	6. Floor division
	7. Exponent
	8. Factorial
	9. Exit
	0. Change numbers
operation: 7
result of 5 to the power of 3: 125
enter your operation:
	1. Addition
	2. Subtraction
	3. Multiplication
	4. Division
	5. Modulus
	6. Floor division
	7. Exponent
	8. Factorial
	9. Exit
	0. Change numbers
operation: 9
exiting...

###Problem 3

In [27]:
#hypotenuse finder

In [34]:
def hypotenuse(a,b):
  return f"length of the hypotenuse: {(a**2 + b**2)**(1/2)} "

In [35]:
hypotenuse(3,5)

'length of the hypotenuse: 5.830951894845301 '

###Problem 4
The Rectangle Problem

In [40]:
class Rectangle:
  def __init__(self,length,width):
    self.length = length
    self.width = width

  def perimeter(self):
    print(f"Perimeter:  {2*(self.length + self.width)}")

  def area(self):
    print(f"Area:  {self.length * self.width}")

  def display(self):
    print(f"Length: {self.length}")
    print(f"Width: {self.width}")
    print(f"Perimeter:  {2*(self.length + self.width)}")
    print(f"Area:  {self.length * self.width}")

In [41]:
new_rectangle = Rectangle(43,56)

In [42]:
new_rectangle.perimeter()

Perimeter:  198

In [43]:
new_rectangle.area()

Area:  2408

In [45]:
new_rectangle.display()

Length: 43
Width: 56
Perimeter:  198
Area:  2408

###Problem 5
The Bank Account problem

In [71]:
class BankAccount:
  def __init__(self,account_number,name,balance):
    self.accountNumber = account_number
    self.__name = name #hiding name and balance details
    self.__balance = balance

  def Deposit(self):
    print(f"Your current balance is {self.__balance} $")
    deposit_amount = int(input("Enter amount to deposit: "))
    self.__balance += deposit_amount
    print("added amount successfully!")
    print(f"Your new balance is {self.__balance} $")

  def Withdrawal(self):
    print(f"Your current balance is {self.__balance} $")
    withdrawal_amount = int(input("Enter amount to withdraw: "))
    self.__balance -= withdrawal_amount
    print("Cash withdrawn successfully!")
    print(f"Your new balance is {self.__balance} $")

  def bankFees(self):
    print("initiating bank fee charges procedure on account...")
    fees = (5/100)*self.__balance
    self.__balance -= fees
    print(f"Total charges applicable: {fees}$")
    print(f"balance after applying bank fees: {self.__balance} $")

  def display(self):
    print(f"Details of your Account Number: {self.accountNumber}")
    print(f"Name: {self.__name}")
    print(f"Balance: {self.__balance}")

In [72]:
anto_bank_acc = BankAccount(1234254865553,"Antony Dominic A",12000)

In [73]:
#display info
anto_bank_acc.display()

Details of your Account Number: 1234254865553
Name: Antony Dominic A
Balance: 12000

In [74]:
#deposit
anto_bank_acc.Deposit()

Your current balance is 12000 $
Enter amount to deposit: 13000
added amount successfully!
Your new balance is 25000 $

In [75]:
#withdraw
anto_bank_acc.Withdrawal()

Your current balance is 25000 $
Enter amount to withdraw: 3000
Cash withdrawn successfully!
Your new balance is 22000 $

In [76]:
#bank fees
anto_bank_acc.bankFees()

initiating bank fee charges procedure on account...
Total charges applicable: 1100.0$
balance after applying bank fees: 20900.0 $